.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 16px;
}

.item-28 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    background-color: lightcoral;
}

.item-29 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background-color: limegreen;
}

.item-30 {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
    background-color: magenta;
}